:root {
  --color-primary-light: #8fcef5;
  --color-primary-dark: #4986db;
  --color-base: #212121;
  --color-secondary: #616161;
  --color-white: #ffffff;

  --font-size-title: 48px;
  --font-size-small: 11px;
  --font-size-medium: 16px;
  --font-size-or-button: 13px;
  --border-color: #707070;
  --login-border-color: #212121;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f5fa;
}

.background-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  background: url("vivid-blurred-colorful-wallpaper-background.jpg") no-repeat
    center center / cover;

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 20px;
}

header {
  position: absolute;
  top: 30px;
  right: 40px;
  z-index: 10;
}

.login-button {
  background-color: transparent;
  color: var(--color-base);
  border: 1px solid var(--login-border-color);
  padding: 10px 20px;
  font-size: var(--font-size-or-button);
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.form-container {
  display: flex;
  width: 950px;
  height: 650px;
  background-color: var(--color-white);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.image-section {
  flex: 1;
  position: relative;
  background-color: var(--color-primary-light);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image-section .background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.registration-section {
  flex: 1;
  padding: 30px 70px 30px 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.registration-title {
  font-size: var(--font-size-title);
  color: var(--color-primary-dark);
  margin-bottom: 0;
  font-weight: 700;
}

.registration-section form {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-group {
  width: 100%;
  margin-bottom: 0;
}

.form-group label {
  display: block;
  font-size: var(--font-size-small);
  color: var(--color-secondary);
  margin-bottom: 5px;
  font-weight: 500;
}

.form-group input[type="text"],
.form-group input[type="email"],
.input-with-icon {
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 3px;
}

.form-group input[type="text"],
.form-group input[type="email"] {
  padding: 10px 10px;
  font-size: var(--font-size-medium);
  outline: none;
  background: transparent;
}

.input-with-icon {
  display: flex;
  align-items: center;
}

.input-with-icon input {
  flex-grow: 1;
  padding: 10px 10px;
  border: none;
  font-size: var(--font-size-medium);
  outline: none;
  background: transparent;
}

.eye-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: var(--color-secondary);
  margin-right: 10px;
  font-size: 16px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
}

.create-account-button {
  width: 100%;
  background-color: var(--color-base);
  color: var(--color-white);
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.or-text {
  font-size: var(--font-size-or-button);
  color: var(--color-secondary);
  margin: 15px 0 10px 0;
  font-weight: 500;
}

.social-login {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

footer {
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;
}

.copyright {
  font-size: var(--font-size-small);
  color: var(--color-secondary);
  font-weight: 400;
}
